name: Build

on: [pull_request]

jobs:
  build-ubuntu:
    runs-on: ubuntu-latest
    container:
      image: sacbase/sac-compiler
    steps:
      - uses: actions/checkout@v5
        with:
          submodules: 'recursive'
      - name: Configure sac2c
        run: cp -r /root/.sac2crc $HOME/.sac2crc
      - name: Install SDL3
        run: apt install -y libsdl3-dev libsdl3-image-dev libsdl3-ttf-dev
      - name: Build
        run: make
